<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>bootstrap Demo</title>
    <!-- Bootstrap 层叠样式 -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/starter-template.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
  	 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">个人账目</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">主页</a></li>
            <li><a href="#" onclick="doref('zichan')">资产</a></li>
            <li><a href="#" onclick="doref('fuzhai')">负债</a></li>
            <li><a href="#" onclick="doref('shouru')">收入</a></li>
            <li><a href="#" onclick="doref('zhichu')">支出</a></li>
            <li><a href="#" onclick="doref('baobiao')">账目核对</a></li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  	<div class="container">
        <div id="context" class="starter-template">
         负债
        </div>
    </div><!-- /.container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
    <script>
  		function doref(url){
  			 $("#context").html("");
    		$.ajax( {
			  url: url, //这里是静态页的地址
			  type: "GET", //静态页用get方法，否则服务器会抛出405错误
			  success: function(data){
			  var result = $(data).find("#context");
			  $("#context").html(result);
			}
		 	});
  		}
  		
  </script>
  </body>
</html>

