<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>颜色快速采集器</title>
</head>

<body>
<TABLE cellSpacing=5 cellPadding=5 width=100% border=0>
  <TBODY>
    <TR>
      <TD valign="top"><SCRIPT language=JavaScript>
function ChangeColor(form, ColorName)
    { var ColorValue = " ";
      if (ColorName == 'aliceblue')       ColorValue = "#F0F8FF";
      if (ColorName == 'antiquewhite')  ColorValue = "#FAEBD7";
      if (ColorName == 'aqua')       ColorValue = "#00FFFF";
      if (ColorName == 'aquamarine')  ColorValue = "#7FFFD4";
      if (ColorName == 'azure')  ColorValue = "#F0FFFF";
      if (ColorName == 'beige')  ColorValue = "#F5F5DC";
      if (ColorName == 'bisque')  ColorValue = "#FFE4C4";
      if (ColorName == 'black')  ColorValue = "#000000";
      if (ColorName == 'blanchedalmond')  ColorValue = "#FFEBCD";
      if (ColorName == 'blue')  ColorValue = "#0000FF";
      if (ColorName == 'blueviolet')  ColorValue = "#8A2BE2";
      if (ColorName == 'brown')  ColorValue = "#A52A2A";
      if (ColorName == 'burlywood')  ColorValue = "#DEB887";
      if (ColorName == 'cadetblue')  ColorValue = "#5F9EA0";
      if (ColorName == 'chartreuse')  ColorValue = "#7FFF00";
      if (ColorName == 'chocolate')  ColorValue = "#D2691E";
      if (ColorName == 'coral')  ColorValue = "#FF7F50";
      if (ColorName == 'cornflowerblue')  ColorValue = "#6495ED";
      if (ColorName == 'cornsilk')  ColorValue = "#FFF8DC";
      if (ColorName == 'crimson')  ColorValue = "#DC143C";
      if (ColorName == 'cyan')  ColorValue = "#00FFFF";
      if (ColorName == 'darkblue')  ColorValue = "#00008B";
      if (ColorName == 'darkcyan')  ColorValue = "#008B8B";
      if (ColorName == 'darkgoldenrod')  ColorValue = "#B8860B";
      if (ColorName == 'darkgray')  ColorValue = "#A9A9A9";
      if (ColorName == 'darkgreen')  ColorValue = "#006400";
      if (ColorName == 'darkkhaki')  ColorValue = "#BDB76B";
      if (ColorName == 'darkmagenta')  ColorValue = "#8B008B";
      if (ColorName == 'darkolivegreen')  ColorValue = "#556B2F";
      if (ColorName == 'darkorange')  ColorValue = "#FF8C00";
      if (ColorName == 'darkorchid')  ColorValue = "#9932CC";
      if (ColorName == 'darkred')  ColorValue = "#8B0000";
      if (ColorName == 'darksalmon')  ColorValue = "#E9967A";
      if (ColorName == 'darkseagreen')  ColorValue = "#8FBC8F";
      if (ColorName == 'darkslateblue')  ColorValue = "#483D8B";
      if (ColorName == 'darkslategray')  ColorValue = "#2F4F4F";
      if (ColorName == 'darkturquoise')  ColorValue = "#00CED1";
      if (ColorName == 'darkviolet')  ColorValue = "#9400D3";
      if (ColorName == 'deeppink')  ColorValue = "#FF1493";
      if (ColorName == 'deepskyblue')  ColorValue = "#00BFFF";
      if (ColorName == 'dimgray')  ColorValue = "#696969";
      if (ColorName == 'dodgerblue')  ColorValue = "#1E90FF";
      if (ColorName == 'firebrick')  ColorValue = "#B22222";
      if (ColorName == 'floralwhite')  ColorValue = "#FFFAF0";
      if (ColorName == 'forestgreen')  ColorValue = "#228B22";
      if (ColorName == 'fuchsia')  ColorValue = "#FF00FF";
      if (ColorName == 'gainsboro')  ColorValue = "#DCDCDC";
      if (ColorName == 'ghostwhite')  ColorValue = "#F8F8FF";
      if (ColorName == 'gold')  ColorValue = "#FFD700";
      if (ColorName == 'goldenrod')  ColorValue = "#DAA520";
      if (ColorName == 'gray')  ColorValue = "#808080";
      if (ColorName == 'green')  ColorValue = "#008000";
      if (ColorName == 'greenyellow')  ColorValue = "#ADFF2F";
      if (ColorName == 'honeydew')  ColorValue = "#F0FFF0";
      if (ColorName == 'hotpink')  ColorValue = "#FF69B4";
      if (ColorName == 'indianred')  ColorValue = "#CD5C5C";
      if (ColorName == 'indigo')  ColorValue = "#4B0082";
      if (ColorName == 'ivory')  ColorValue = "#FFFFF0";
      if (ColorName == 'khaki')  ColorValue = "#F0E68C";
      if (ColorName == 'lavender')  ColorValue = "#E6E6FA";
      if (ColorName == 'lavenderblush')  ColorValue = "#FFF0F5";
      if (ColorName == 'lawngreen')  ColorValue = "#7CFC00";
      if (ColorName == 'lemonchiffon')  ColorValue = "#FFFACD";
      if (ColorName == 'lightblue')  ColorValue = "#ADD8E6";
      if (ColorName == 'lightcoral')  ColorValue = "#F08080";
      if (ColorName == 'lightcyan')  ColorValue = "#E0FFFF";
      if (ColorName == 'lightgoldenrodyellow')  ColorValue = "#FAFAD2";
      if (ColorName == 'lightgreen')  ColorValue = "#90EE90";
      if (ColorName == 'lightgrey')  ColorValue = "#D3D3D3";
      if (ColorName == 'lightpink')  ColorValue = "#FFB6C1";
      if (ColorName == 'lightsalmon')  ColorValue = "#FFA07A";
      if (ColorName == 'lightseagreen')  ColorValue = "#20B2AA";
      if (ColorName == 'lightskyblue')  ColorValue = "#87CEFA";
      if (ColorName == 'lightslategray')  ColorValue = "#778899";
      if (ColorName == 'lightsteelblue')  ColorValue = "#B0C4DE";
      if (ColorName == 'lightyellow')  ColorValue = "#FFFFE0";
      if (ColorName == 'lime')  ColorValue = "#00FF00";
      if (ColorName == 'limegreen')  ColorValue = "#32CD32";
      if (ColorName == 'linen')  ColorValue = "#FAF0E6";
      if (ColorName == 'magenta')  ColorValue = "#FF00FF";
      if (ColorName == 'maroon')  ColorValue = "#800000";
      if (ColorName == 'mediumaquamarine')  ColorValue = "#66CDAA";
      if (ColorName == 'mediumblue')  ColorValue = "#0000CD";
      if (ColorName == 'mediumorchid')  ColorValue = "#BA55D3";
      if (ColorName == 'mediumpurple')  ColorValue = "#9370DB";
      if (ColorName == 'mediumseagreen')  ColorValue = "#3CB371";
      if (ColorName == 'mediumslateblue')  ColorValue = "#7B68EE";
      if (ColorName == 'mediumspringgreen')  ColorValue = "#00FA9A";
      if (ColorName == 'mediumturquoise')  ColorValue = "#48D1CC";
      if (ColorName == 'mediumvioletred')  ColorValue = "#C71585";
      if (ColorName == 'midnightblue')  ColorValue = "#191970";
      if (ColorName == 'mintcream')  ColorValue = "#F5FFFA";
      if (ColorName == 'mistyrose')  ColorValue = "#FFE4E1";
      if (ColorName == 'moccasin')  ColorValue = "#FFE4B5";
      if (ColorName == 'navajowhite')  ColorValue = "#FFDEAD";
      if (ColorName == 'navy')  ColorValue = "#000080";
      if (ColorName == 'oldlace')  ColorValue = "#FDF5E6";
      if (ColorName == 'olive')  ColorValue = "#808000";
      if (ColorName == 'olivedrab')  ColorValue = "#6B8E23";
      if (ColorName == 'orange')  ColorValue = "#FFA500";
      if (ColorName == 'orangered')  ColorValue = "#FF4500";
      if (ColorName == 'orchid')  ColorValue = "#DA70D6";
      if (ColorName == 'palegoldenrod')  ColorValue = "#EEE8AA";
      if (ColorName == 'palegreen')  ColorValue = "#98FB98";
      if (ColorName == 'paleturquoise')  ColorValue = "#AFEEEE";
      if (ColorName == 'palevioletred')  ColorValue = "#DB7093";
      if (ColorName == 'papayawhip')  ColorValue = "#FFEFD5";
      if (ColorName == 'peachpuff')  ColorValue = "#FFDAB9";
      if (ColorName == 'peru')  ColorValue = "#CD853F";
      if (ColorName == 'pink')  ColorValue = "#FFC0CB";
      if (ColorName == 'plum')  ColorValue = "#DDA0DD";
      if (ColorName == 'powderblue')  ColorValue = "#B0E0E6";
      if (ColorName == 'purple')  ColorValue = "#800080";
      if (ColorName == 'red')  ColorValue = "#FF0000";
      if (ColorName == 'rosybrown')  ColorValue = "#BC8F8F";
      if (ColorName == 'royalblue')  ColorValue = "#4169E1";
      if (ColorName == 'saddlebrown')  ColorValue = "#8B4513";
      if (ColorName == 'salmon')  ColorValue = "#FA8072";
      if (ColorName == 'sandybrown')  ColorValue = "#F4A460";
      if (ColorName == 'seagreen')  ColorValue = "#2E8B57";
      if (ColorName == 'seashell')  ColorValue = "#FFF5EE";
      if (ColorName == 'sienna')  ColorValue = "#A0522D";
      if (ColorName == 'silver')  ColorValue = "#C0C0C0";
      if (ColorName == 'skyblue')  ColorValue = "#87CEEB";
      if (ColorName == 'slateblue')  ColorValue = "#6A5ACD";
      if (ColorName == 'slategray')  ColorValue = "#708090";
      if (ColorName == 'snow')  ColorValue = "#FFFAFA";
      if (ColorName == 'springgreen')  ColorValue = "#00FF7F";
      if (ColorName == 'steelblue')  ColorValue = "#4682B4";
      if (ColorName == 'tan')  ColorValue = "#D2B48C";
      if (ColorName == 'teal')  ColorValue = "#008080";
      if (ColorName == 'thistle')  ColorValue = "#D8BFD8";
      if (ColorName == 'tomato')  ColorValue = "#FF6347";
      if (ColorName == 'turquoise')  ColorValue = "#40E0D0";
      if (ColorName == 'violet')  ColorValue = "#EE82EE";
      if (ColorName == 'wheat')  ColorValue = "#F5DEB3";
      if (ColorName == 'white')  ColorValue = "#FFFFFF";
      if (ColorName == 'whitesmoke')  ColorValue = "#F5F5F5";
      if (ColorName == 'yellow')  ColorValue = "#FFFF00";
      if (ColorName == 'yellowgreen')  ColorValue = "#9ACD32";
      document.bgColor = ColorName;
      form.CName.value = ColorName;
      form.CValue.value = ColorValue;
    }

</SCRIPT>
          <!--颜色代码第一步结束-->
          <!--颜色代码第二步：此代码放在<body>与</body>之间-->
          <p></P>
          <FORM name=bgcolor method=post>
            <CENTER>
              <FONT size=3><B>颜色名称:</B>
              <INPUT size=21 value=snow name=CName>
              <BR>
              <B>颜色数值:</B>
              <INPUT size=21 value=#FFFAFA name=CValue>
              </FONT>
            </CENTER>
            <CENTER>
              <TABLE cellSpacing=0 cellPadding=0 width=100% border=1>
                <TBODY>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'aliceblue')" 
      type=radio name=bgcolor>
                      艾利斯兰 </div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'antiquewhite')" 
      type=radio name=bgcolor>
                      古董白 </div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'aqua')" type=radio 
      name=bgcolor>
                      浅绿色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'aquamarine')" 
      type=radio name=bgcolor>
                      碧绿色</div></TD>
                  </TR>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'azure')" 
      type=radio name=bgcolor>
                      天蓝色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'beige')" 
      type=radio name=bgcolor>
                      米色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'bisque')" 
      type=radio name=bgcolor>
                      桔黄色 </div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'black')" 
      type=radio name=bgcolor>
                      黑色</div></TD>
                  </TR>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'blanchedalmond')" 
      type=radio name=bgcolor>
                      白杏色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'blue')" type=radio 
      name=bgcolor>
                      蓝色 </div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'blueviolet')" 
      type=radio name=bgcolor>
                      紫罗兰色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'brown')" 
      type=radio name=bgcolor>
                      褐色</div></TD>
                  </TR>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'burlywood')" 
      type=radio name=bgcolor>
                      实木色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'cadetblue')" 
      type=radio name=bgcolor>
                      军兰色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'chartreuse')" 
      type=radio name=bgcolor>
                      黄绿色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'chocolate')" 
      type=radio name=bgcolor>
                      巧可力色 </div></TD>
                  </TR>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'coral')" 
      type=radio name=bgcolor>
                      珊瑚色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'cornflowerblue')" 
      type=radio name=bgcolor>
                      菊兰色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'cornsilk')" 
      type=radio name=bgcolor>
                      米绸色 </div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'crimson')" 
      type=radio name=bgcolor>
                      暗深红色</div></TD>
                  </TR>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'cyan')" type=radio 
      name=bgcolor>
                      青色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'darkblue')" 
      type=radio name=bgcolor>
                      暗蓝色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'darkcyan')" 
      type=radio name=bgcolor>
                      暗青色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'darkgoldenrod')" 
      type=radio name=bgcolor>
                      暗金黄色</div></TD>
                  </TR>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'darkgray')" 
      type=radio name=bgcolor>
                      暗灰色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'darkgreen')" 
      type=radio name=bgcolor>
                      暗绿色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'darkkhaki')" 
      type=radio name=bgcolor>
                      暗黄褐色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'darkmagenta')" 
      type=radio name=bgcolor>
                      暗洋红 </div></TD>
                  </TR>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'darkolivegreen')" 
      type=radio name=bgcolor>
                      暗橄榄绿</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'darkorange')" 
      type=radio name=bgcolor>
                      暗桔黄色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'darkorchid')" 
      type=radio name=bgcolor>
                      暗紫色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'darkred')" 
      type=radio name=bgcolor>
                      暗红色</div></TD>
                  </TR>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'darksalmon')" 
      type=radio name=bgcolor>
                      暗肉色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'darkseagreen')" 
      type=radio name=bgcolor>
                      暗海兰色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'darkslateblue')" 
      type=radio name=bgcolor>
                      暗灰蓝色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'darkslategray')" 
      type=radio name=bgcolor>
                      墨绿色 </div></TD>
                  </TR>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'darkturquoise')" 
      type=radio name=bgcolor>
                      暗宝石绿</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'darkviolet')" 
      type=radio name=bgcolor>
                      暗紫罗兰色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'deeppink')" 
      type=radio name=bgcolor>
                      深粉红色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'deepskyblue')" 
      type=radio name=bgcolor>
                      深天蓝色</div></TD>
                  </TR>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'dimgray')" 
      type=radio name=bgcolor>
                      暗灰色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'dodgerblue')" 
      type=radio name=bgcolor>
                      闪兰色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'firebrick')" 
      type=radio name=bgcolor>
                      火砖色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'floralwhite')" 
      type=radio name=bgcolor>
                      花白色 </div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'forestgreen')" 
      type=radio name=bgcolor>
                      森林绿 </div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'fuchsia')" 
      type=radio name=bgcolor>
                      紫红色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'gainsboro')" 
      type=radio name=bgcolor>
                      淡灰色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'ghostwhite')" 
      type=radio name=bgcolor>
                      幽灵白</div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'gold')" type=radio 
      name=bgcolor>
                      金色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'goldenrod')" 
      type=radio name=bgcolor>
                      金麒麟色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'gray')" type=radio 
      name=bgcolor>
                      灰色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'green')" 
      type=radio name=bgcolor>
                      绿色</div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'greenyellow')" 
      type=radio name=bgcolor>
                      黄绿色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'honeydew')" 
      type=radio name=bgcolor>
                      蜜色 </div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'hotpink')" 
      type=radio name=bgcolor>
                      热粉红色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'indianred')" 
      type=radio name=bgcolor>
                      印第安红</div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'indigo')" 
      type=radio name=bgcolor>
                      靛青色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'ivory')" 
      type=radio name=bgcolor>
                      象牙色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'khaki')" 
      type=radio name=bgcolor>
                      黄褐色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'lavender')" 
      type=radio name=bgcolor>
                      淡紫色 </div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'lavenderblush')" 
      type=radio name=bgcolor>
                      淡紫红</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'lawngreen')" 
      type=radio name=bgcolor>
                      草绿色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'lemonchiffon')" 
      type=radio name=bgcolor>
                      柠檬绸色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'lightblue')" 
      type=radio name=bgcolor>
                      亮蓝色</div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'lightcoral')" 
      type=radio name=bgcolor>
                      亮珊瑚色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'lightcyan')" 
      type=radio name=bgcolor>
                      亮青色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT 
      onclick="ChangeColor(this.form, 'lightgoldenrodyellow')" type=radio 
      name=bgcolor>
                      亮金黄色 </div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'lightgreen')" 
      type=radio name=bgcolor>
                      亮绿色 </div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'lightgrey')" 
      type=radio name=bgcolor>
                      亮灰色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'lightpink')" 
      type=radio name=bgcolor>
                      亮粉红色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'lightsalmon')" 
      type=radio name=bgcolor>
                      亮肉色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'lightseagreen')" 
      type=radio name=bgcolor>
                      亮海蓝色</div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'lightskyblue')" 
      type=radio name=bgcolor>
                      亮天蓝色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'lightslategray')" 
      type=radio name=bgcolor>
                      亮蓝灰</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'lightsteelblue')" 
      type=radio name=bgcolor>
                      亮钢兰色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'lightyellow')" 
      type=radio name=bgcolor>
                      亮黄色</div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'lime')" type=radio 
      name=bgcolor>
                      酸橙色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'limegreen')" 
      type=radio name=bgcolor>
                      橙绿以</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'linen')" 
      type=radio name=bgcolor>
                      亚麻色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'magenta')" 
      type=radio name=bgcolor>
                      红紫色</div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'maroon')" 
      type=radio name=bgcolor>
                      粟色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT 
      onclick="ChangeColor(this.form, 'mediumaquamarine')" type=radio 
      name=bgcolor>
                      间绿色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'mediumblue')" 
      type=radio name=bgcolor>
                      间兰色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'mediumorchid')" 
      type=radio name=bgcolor>
                      间紫色</div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'mediumpurple')" 
      type=radio name=bgcolor>
                      间紫色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'mediumseagreen')" 
      type=radio name=bgcolor>
                      间海蓝</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'mediumslateblue')" 
      type=radio name=bgcolor>
                      间暗蓝色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT 
      onclick="ChangeColor(this.form, 'mediumspringgreen')" type=radio 
      name=bgcolor>
                      间春绿色</div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'mediumturquoise')" 
      type=radio name=bgcolor>
                      间绿宝石</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'mediumvioletred')" 
      type=radio name=bgcolor>
                      间紫罗兰色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'midnightblue')" 
      type=radio name=bgcolor>
                      中灰兰色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'mintcream')" 
      type=radio name=bgcolor>
                      薄荷色</div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'mistyrose')" 
      type=radio name=bgcolor>
                      浅玫瑰色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'moccasin')" 
      type=radio name=bgcolor>
                      鹿皮色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'navajowhite')" 
      type=radio name=bgcolor>
                      纳瓦白</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'navy')" type=radio 
      name=bgcolor>
                      海军色</div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'oldlace')" 
      type=radio name=bgcolor>
                      老花色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'olive')" 
      type=radio name=bgcolor>
                      橄榄色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'olivedrab')" 
      type=radio name=bgcolor>
                      深绿褐色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'orange')" 
      type=radio name=bgcolor>
                      橙色</div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'orangered')" 
      type=radio name=bgcolor>
                      红橙色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'orchid')" 
      type=radio name=bgcolor>
                      淡紫色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'palegoldenrod')" 
      type=radio name=bgcolor>
                      苍麒麟色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'palegreen')" 
      type=radio name=bgcolor>
                      苍绿色 </div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'paleturquoise')" 
      type=radio name=bgcolor>
                      苍宝石绿 </div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'palevioletred')" 
      type=radio name=bgcolor>
                      苍紫罗兰色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'papayawhip')" 
      type=radio name=bgcolor>
                      番木色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'peachpuff')" 
      type=radio name=bgcolor>
                      桃色</div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'peru')" type=radio 
      name=bgcolor>
                      秘鲁色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'pink')" type=radio 
      name=bgcolor>
                      粉红色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'plum')" type=radio 
      name=bgcolor>
                      洋李色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'powderblue')" 
      type=radio name=bgcolor>
                      粉蓝色</div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'purple')" 
      type=radio name=bgcolor>
                      紫色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'red')" type=radio 
      name=bgcolor>
                      红色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'rosybrown')" 
      type=radio name=bgcolor>
                      褐玫瑰红</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'royalblue')" 
      type=radio name=bgcolor>
                      皇家蓝</div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'saddlebrown')" 
      type=radio name=bgcolor>
                      重褐色 </div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'salmon')" 
      type=radio name=bgcolor>
                      鲜肉色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'sandybrown')" 
      type=radio name=bgcolor>
                      沙褐色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'seagreen')" 
      type=radio name=bgcolor>
                      海绿色</div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'seashell')" 
      type=radio name=bgcolor>
                      海贝色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'sienna')" 
      type=radio name=bgcolor>
                      赭色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'silver')" 
      type=radio name=bgcolor>
                      银色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'skyblue')" 
      type=radio name=bgcolor>
                      天蓝色</div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'slateblue')" 
      type=radio name=bgcolor>
                      石蓝色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'slategray')" 
      type=radio name=bgcolor>
                      灰石色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'snow')" type=radio 
      CHECKED name=bgcolor>
                      雪白色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'springgreen')" 
      type=radio name=bgcolor>
                      春绿色</div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'steelblue')" 
      type=radio name=bgcolor>
                      钢兰色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'tan')" type=radio 
      name=bgcolor>
                      茶色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'teal')" type=radio 
      name=bgcolor>
                      水鸭色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'thistle')" 
      type=radio name=bgcolor>
                      蓟色</div></TD>
                  <TR>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'tomato')" 
      type=radio name=bgcolor>
                      西红柿色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'turquoise')" 
      type=radio name=bgcolor>
                      青绿色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'violet')" 
      type=radio name=bgcolor>
                      紫罗兰色</div></TD>
                    <TD width="25%"><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'wheat')" 
      type=radio name=bgcolor>
                      浅黄色</div></TD>
                  <TR>
                    <TD width="25%" height=28><div align="left">
                        <INPUT onclick="ChangeColor(this.form, 'white')" 
      type=radio name=bgcolor>
                      白色</div></TD>
                    <TD width="25%" height=28><div align="left">
                        <INPUT 
      onclick="ChangeColor(this.form, 'whitesmoke')" type=radio name=bgcolor>
                      烟白色</div></TD>
                    <TD width="25%" height=28><div align="left">
                        <INPUT 
      onclick="ChangeColor(this.form, 'yellow')" type=radio name=bgcolor>
                      黄色</div></TD>
                    <TD width="25%" height=28><div align="left">
                        <INPUT 
      onclick="ChangeColor(this.form, 'yellowgreen')" type=radio name=bgcolor>
                      黄绿色</div></TD>
                  </TR>
                </TBODY>
              </TABLE>
            </CENTER>
            <P>  
        </FORM></TD>
    </TR>
  </TBODY>
</TABLE>
<script language="Javascript">
document.write("<img src='http://counter.yesky.com/counter.shtml?CID=54197&amp;AID=-1&amp;refer="+escape(document.referrer)+"&amp;cur="+escape(document.URL)+"' border='0' alt='' width='0' height='0'>");
</script>
<noscript>
<img src="http://counter.yesky.com/counter.shtml?CID=54197&amp;AID=-1&amp;refer=noscriptcounter&amp;cur=noscriptcounter" border='0' width='0' height='0'/>
</noscript>
<script type='javascript'>var __sitemap_id=4197;var _aid=-1;</script><!--/TLimages2009/yesky/include/google_ga.html 天极列表内页 图片列表内页-->
<!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"RiEjm1akKd606C", domain:"yesky.com",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=RiEjm1akKd606C" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->
<!--baidu-->
<script type="text/javascript">
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?0e8d8a461a52de0b1adddeba42c3b860";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script src="http://www.yesky.com/monitorjs/imp-zz.js" type="text/javascript"></script>
<!--yesky counter test-->
<script src="http://www.yesky.com/TLimages2009/yesky/js/counter/web-utils.js"></script>
<script type="text/javascript">
  initCookie();
  var re = new RegExp(".*/(\\d+)(_(\\d+))?\\.shtml","ig");
  var _aid = "-1";
  if(re.exec(document.location.href) != null){
    _aid = RegExp.$1
  }
  sentParamter(_aid,'1');
</script>

<!--加广告标识-->
<script src="http://www.yesky.com/TLimages2009/yesky/js/add_adv.js"></script>

</body>
</html>
